<%= form_for(@ranger) do |f| %>
  <% if @ranger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ranger.errors.count, "error") %> prohibited this ranger from being saved:</h2>

      <ul>
      <% @ranger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
