<h1>Listing rangers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rangers.each do |ranger| %>
      <tr>
        <td><%= ranger.name %></td>
        <td><%= ranger.color %></td>
        <td><%= link_to 'Show', ranger %></td>
        <td><%= link_to 'Edit', edit_ranger_path(ranger) %></td>
        <td><%= link_to 'Destroy', ranger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ranger', new_ranger_path %>
