<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ranger.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @ranger.color %>
</p>

<%= link_to 'Edit', edit_ranger_path(@ranger) %> |
<%= link_to 'Back', rangers_path %>
